* {
    font-family: Arial, Helvetica, sans-serif;
    font: 16px;
}

body {
    background-color: rgb(123, 91, 153);
}

main {
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.138);
}

h1 {
    font-size: 2em;
    color: rgb(88, 65, 110);
}

h2 {
    font-size: 1.5em;
    color: rgb(85, 63, 105);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}